input {
    background-color: #fefefe;
    height: 60px;
    padding-left: 20px;
    display: inline-block;
}

.btn-expense{
    height: 60px;
    background-color: #e9eeff;
    border: none;
    color: #4772fe;
}

.expenses-list {
    margin-top: 20px;
  }
  .card-body {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  .background {
    background-image: url('/assets/background.jpg');
    background-size: contain;
    position: relative;
    min-height: 100vh;
  }

  .background::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black */
    z-index: 1; 
  }

  .content {
    position: relative;
    z-index: 2; /* set the z-index of the content */
  }

  .main {
    padding-top: 20px;
    padding: 0, auto;
    max-width: 1248px;
    
  }
  mat-form-field {
    width: 100%;
  }