input {
    background-color: #fefefe;
    height: 60px;
    padding-left: 20px;
    display: inline-block;
}

.btn-expense{
    height: 60px;
    background-color: #e9eeff;
    border: none;
    color: #4772fe;
}

.expenses-list {
    margin-top: 20px;
  }
  .card-body {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  .expense-name {
    flex-basis: 20%;
  }
  .expense-date {
    flex-basis: 20%;
  }
  .expense-mode {
    flex-basis: 30%;
  }
  .expense-narration {
    flex-basis: 30%;
  }
  .card-price {
    flex-basis: 30%;
}
  